# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
cpp/.vs/*
cpp/x64/*

# Tests Files
test.*

# IJ Files
java/java.iml
java/.idea/*
java/out/*